name: Send monthly email

on:
  schedule:
    # Monthly run (1st day of the month)
    - cron: "0 0 1 * *"

  workflow_dispatch:

jobs:
  send-email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Send email
        run: |
          python send_email.py \
            --smtp-server "${{ vars.SMTP_SERVER }}" \
            --smtp-port "${{ vars.SMTP_PORT }}" \
            --email-address "${{ vars.EMAIL_ADDRESS }}" \
            --email-password "${{ secrets.EMAIL_PASSWORD }}"

